nav {
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin: -8px;
    border-bottom: 13px solid rgba(220, 245, 94, 0.937);
}

nav h1 {
    color: aliceblue;
    font-weight: normal;
    font-size: 35px;
    margin: 0px;
}

nav h4 {
    font-weight: normal;
    color: gray;
    margin: 0px;
    padding-left: 12px;
}

.posicion_nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

nav a {
    color: rgb(145, 148, 134);
    /* Color blanco del texto */
    text-decoration: none;
    /* Sin subrayado */
    font-family: Arial, sans-serif;
    /* Tipo de letra */
    font-size: 15px;
    padding: 15px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.linea_medio_nav {
    border-left: 1px solid rgb(15, 14, 14)
}

.color_nav {
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 38px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(359deg, #181818, #242222);
}

header {
    background: linear-gradient(359deg, #0e0e0e, #686262);
    margin: -8px;

}

.letraheader {
    color: aliceblue;
    font-weight: normal;
}

header h3 {
    font-weight: normal;
    color: #686262;
}

header a {
    display: inline-block;
    background: linear-gradient(359deg, #c0dd21, #b4f967);
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}
.organizacion_header{
    display: flex;
    justify-content: space-evenly;
    padding: 28px;
}